@use "../abstracts";

.divider {
    background-color: var(--divider-bg-color);

    &--with-children {
        @include abstracts.display-flex($align: center, $justify: center);

        background: transparent;

        &::before,
        &::after {
            content: "";
            flex-grow: 1;
            height: 1px;
            background-color: var(--divider-bg-color);
        }
    }

    &--without-children {
        width: 100%;
        height: 1px;
    }

    &__children {
        padding: 0 16px;
        color: var(--divider-text-color);

        @extend %third-heading;
    }
}
