@use "../abstracts";

%inputStyle {
    width: min(500px, 100%);
    height: 52px;
    padding: 0 20px;
    column-gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--input-border-color);
}

.input {
    @include abstracts.display-flex($align: center, $justify: null);
    @extend %inputStyle;

    &__icon {
        &--password {
            margin-left: 10px;
            cursor: pointer;
        }
    }

    &__children {
        @extend %display-m;
        color: var(--input-text-color);

        flex: 1;

        &::placeholder {
            @extend %body-m-1;
            color: var(--input-placeholder-color);
        }
    }
}
