@use "../abstracts";

.modal {
    @include abstracts.display-flex(flex-start, center);
    position: fixed;
    inset: 0;
    z-index: 999;

    background: var(--modal-bg-color);

    &__wrapper {
        width: 500px;
        margin-top: 140px;
        padding: 20px 24px;

        border-radius: 8px;
        background: var(--modal-color);
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
            0 3px 6px -4px rgba(0, 0, 0, 0.12),
            0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }

    &__header {
        @include abstracts.display-flex(center, space-between);
        margin-bottom: 8px;
    }

    &__title {
        @extend %display-m;
        color: var(--modal-title-color);
    }

    &__close {
        width: 17px;
        height: 17px;
        padding: 1px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: var(--modal-close-bg-color);
            border-radius: 4px;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
    }

    &__desc {
        max-height: 250px;
        overflow-y: auto;

        @extend %body-r-1;
        color: var(--modal-description-color);
        word-wrap: break-word;
    }

    &__footer {
        @include abstracts.display-flex(center, flex-end);
        column-gap: 8px;
        margin-top: 12px;
    }

    &__button {
        height: 32px;
        padding: 0 16px;

        @extend %body-r-1;
    }
}
