//Color
.typography-primary {
    color: #4e5d78;
}

.typography-secondary {
    color: #b0b7c3;
}

// Heading
.heading-1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 153.333%;
}

.heading-2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 153.846%;
}

.heading-3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 155.556%;
}

//Display
.display-b {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.display-m {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

//Body
.body-b {
    font-size: 14px;
    font-weight: 700;
    line-height: 157.143%;
}

.body-m-1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 157.143%;
}

.body-m-2 {
    font-size: 13px;
    font-weight: 500;
    line-height: 138.462%;
}

.body-m-3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
}

.body-r-1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 157.143%;
}

.body-r-2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}

.body-r-3 {
    font-size: 10px;
    font-weight: 500;
    line-height: 160%;
}

.body-r-4 {
    font-size: 10px;
    font-weight: 400;
    line-height: 160%;
}
