@use "../abstracts";

.forgot-password {
    position: relative;
    min-height: 100vh;
    padding-top: var(--header-height);
    overflow: hidden;

    &__header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;

        height: var(--header-height);
        padding: 25px 30px;

        background: var(--forgot-password-header-color);
    }

    &__wrapper {
        @include abstracts.display-flex(center, null);
        flex-direction: column;

        background: linear-gradient(
            180deg,
            var(--forgot-password-bg-color-1) 0%,
            var(--forgot-password-bg-color-2) 100%
        );
    }

    &__title {
        @extend %first-heading;

        color: var(--forgot-password-title-color);
    }

    &__desc {
        @extend %display-m;

        margin-top: 10px;

        color: var(--forgot-password-title-color);
    }

    &__form {
        margin-top: 30px;
        width: 580px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 3px -5px 35px 0px var(--forgot-password-shadow-form-color);
        background: var(--forgot-password-form-bg-color);
    }

    &__button {
        margin-top: 20px;
        width: 500px;
        height: 52px;
    }

    &__back {
        @include abstracts.display-flex(center, center);

        gap: 14px;
        margin-top: 20px;
        cursor: pointer;
    }

    &__icon {
        filter: var(--forgot-password-icon-color);
    }

    &__link {
        @extend %display-m;

        color: var(--forgot-password-link-color);
    }
}
