@use "../abstracts";

.messages {
    &__inner {
        @include abstracts.display-flex();
        column-gap: var(--container-gutter);
        height: 100%;
    }

    &__list {
        min-width: 364px;
        padding: 20px;
        border-radius: 16px 16px 0 0;
        background-color: var(--message-list-bg-color);

        &-heading {
            @include abstracts.display-flex();
            column-gap: 20px;
        }
    }

    &__search {
        min-width: 262px;
        height: 42px;
        border-color: var(--message-search-border-color);

        .input__children {
            @extend %body-r-1;
            color: var(--message-input-search-text-color);

            &::placeholder {
                font-weight: 400;
                color: var(--message-input-search-placeholder-color);
            }
        }
    }

    &__wishlist {
        @include abstracts.display-flex(center);
        flex-shrink: 0;
        width: 42px;
        height: 42px;
        border-radius: 10px;
        background-color: var(--message-wishlist-bg-color);
        cursor: pointer;

        &-icon {
            filter: var(--message-icon-color);

            &--active {
                filter: var(--message-icon-active-color);
            }
        }
    }

    &__content {
        margin-top: 20px;
    }

    &__item {
        @include abstracts.display-flex(center, null);
        padding: 18px;
        border-radius: 10px;
        background: transparent;
        cursor: pointer;

        &--active {
            background-color: var(--message-item-bg-color);
        }

        &-avatar {
            width: 40px;
            height: 40px;

            &-img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &-info {
            @include abstracts.display-flex($direction: column);
            margin-left: 10px;
        }

        &-author-name {
            @extend %display-m;
            color: var(--message-author-name-color);

            display: -webkit-box;
            -webkit-line-clamp: var(--line-clamp, 1);
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-width: 180px;
        }

        &-last-msg {
            display: -webkit-box;
            -webkit-line-clamp: var(--line-clamp, 1);
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-width: 140px;

            @extend %body-m-3;

            color: var(--message-last-msg-color);
        }

        &-footer {
            @include abstracts.display-flex(
                $align: flex-end,
                $direction: column
            );
            margin-left: auto;
        }

        &-time {
            @extend %body-m-3;
            color: var(--message-time-msg-color);
        }

        &-count {
            @include abstracts.display-flex(center);

            margin-top: 1px;
            width: 18px;
            height: 18px;

            @extend %body-m-3;

            border-radius: 4px;
            color: var(--message-count-text-color);
            background-color: var(--message-count-bg-color);
        }

        &-icon {
            margin-top: 7px;
            cursor: pointer;
        }

        &-wishlist-icon {
            filter: var(--message-icon-color);

            &--active {
                filter: var(--message-icon-active-color);
            }
        }
    }

    &__create-conversation {
        position: fixed;
        inset: 0;
        z-index: 999;
        @include abstracts.display-flex(null, center);
        padding: var(--container-gutter);
        backdrop-filter: blur(8px) brightness(80%);
        background: var(--message-create-conversation-overlay-color);
        overflow-y: auto;

        &-inner {
            @include abstracts.display-flex($direction: column);
            width: 540px;
            padding: 20px;
            border-radius: 10px;
            background: var(--message-create-conversation-bg-color);
            overflow-y: hidden;
        }

        &-search {
            flex-shrink: 0;
            min-width: 500px;
        }
    }

    &__user-list {
        --user-list-margin-top: 16px;
        --user-item-height: 66px;

        height: 100%;
        margin-top: var(--user-list-margin-top);
        min-height: min(
            calc(var(--user-list-margin-top) / 2 + var(--user-item-height)),
            100%
        );
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__user-item {
        @include abstracts.display-flex(center, null);
        gap: 12px;
        min-height: var(--user-item-height);
        padding: 12px 0;
        border-radius: 10px;
        cursor: pointer;
    }

    &__user-avatar {
        flex-shrink: 0;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 1px solid var(--message-user-avatar-border-color);
    }

    &__user-img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-fit: cover;
    }

    &__user-fullName {
        display: -webkit-box;
        -webkit-line-clamp: var(--line-clamp, 1);
        -webkit-box-orient: vertical;
        overflow: hidden;

        @extend %display-m;
        color: var(--message-author-name-color);
    }

    &__selected-user {
        @include abstracts.display-flex(
            $justify: space-between,
            $direction: column
        );
        gap: 10px;

        flex-shrink: 0;
        height: 150px;
        padding-top: 12px;

        &-list {
            @include abstracts.display-flex(center, null);
            gap: 8px;
            flex-wrap: wrap;
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &-item {
            @include abstracts.display-flex(center, null);
            padding-left: 14px;
            border-radius: 10px;
            background-color: var(--message-selected-user-item-bg-color);
        }

        &-fullName {
            @extend %body-m-1;
            color: var(--message-author-name-color);
        }

        &-btn {
            flex-shrink: 0;
            height: 42px;
        }

        &-form {
            @include abstracts.display-flex($justify: flex-end);
            column-gap: 16px;
        }

        &-title {
            height: 42px;
            border-radius: 6px;
        }

        &-icon {
            padding: 10px;
            cursor: pointer;
        }
    }
}
