// Heading
%first-heading {
    font-size: 3rem;
    font-weight: 900;
    line-height: 153.333%;
}

%second-heading {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 153.846%;
}

%third-heading {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 155.556%;
}

// Display
%display-b {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%;
}

%display-m {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}

// Body
%body-b {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 157.143%;
}

%body-m-1 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 157.143%;
}

%body-m-2 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 138.462%;
}

%body-m-3 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%;
}

%body-r-1 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 157.143%;
}

// Body Regular m 4
%body-r-2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 160%;
}

%body-r-3 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
}

%body-r-4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
}
