// Blue Colors
$blue-primary: #377dff;
// $blue-primary-b-20: ;
// Blue Colors
$blue-primary-color: #377dff;
$blue-primary-color-b-20: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
    ),
    #377dff;
$blue-primary-color-b-40: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
    ),
    #377dff;
$blue-primary-color-b-60: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
    ),
    #377dff;
$blue-primary-color-b-80: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%
    ),
    #377dff;
$blue-primary-color-w-20: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
    ),
    #377dff;
$blue-primary-color-w-40: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.4) 100%
    ),
    #377dff;
$blue-primary-color-w-60: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.6) 100%
    ),
    #377dff;
$blue-primary-color-w-80: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
    ),
    #377dff;

// Green Colors
$green-primary-color: #38cb89;
$green-primary-color-b-20: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
    ),
    #38cb89;
$green-primary-color-b-40: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
    ),
    #38cb89;
$green-primary-color-b-60: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
    ),
    #38cb89;
$green-primary-color-b-80: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%
    ),
    #38cb89;
$green-primary-color-w-20: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
    ),
    #38cb89;
$green-primary-color-w-40: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.4) 100%
    ),
    #38cb89;
$green-primary-color-w-60: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.6) 100%
    ),
    #38cb89;
$green-primary-color-w-80: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
    ),
    #38cb89;

// Yellow Colors
$yellow-primary-color: #ffab00;
$yellow-primary-color-b-20: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
    ),
    #ffab00;
$yellow-primary-color-b-40: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
    ),
    #ffab00;
$yellow-primary-color-b-60: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
    ),
    #ffab00;
$yellow-primary-color-b-80: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%
    ),
    #ffab00;
$yellow-primary-color-w-20: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
    ),
    #ffab00;
$yellow-primary-color-w-40: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.4) 100%
    ),
    #ffab00;
$yellow-primary-color-w-60: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.6) 100%
    ),
    #ffab00;
$yellow-primary-color-w-80: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
    ),
    #ffab00;

// Red Colors
$red-primary-color: #ff5630;
$red-primary-color-b-20: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
    ),
    #ff5630;
$red-primary-color-b-40: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
    ),
    #ff5630;
$red-primary-color-b-60: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
    ),
    #ff5630;
$red-primary-color-b-80: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%
    ),
    #ff5630;
$red-primary-color-w-20: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
    ),
    #ff5630;
$red-primary-color-w-40: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.4) 100%
    ),
    #ff5630;
$red-primary-color-w-60: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.6) 100%
    ),
    #ff5630;
$red-primary-color-w-80: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
    ),
    #ff5630;

// Grayscale
$grayscale-white-color: #ffffff;
$grayscale-color-w-3: linear-gradient(
        0deg,
        rgba(78, 93, 120, 0.03) 0%,
        rgba(78, 93, 120, 0.03) 100%
    ),
    #fff;
$grayscale-color-w-5: linear-gradient(
        0deg,
        rgba(78, 93, 120, 0.05) 0%,
        rgba(78, 93, 120, 0.05) 100%
    ),
    #fff;
$grayscale-color-w-10: linear-gradient(
        0deg,
        rgba(78, 93, 120, 0.1) 0%,
        rgba(78, 93, 120, 0.1) 100%
    ),
    #fff;
$grayscale-color-w-20: linear-gradient(
        0deg,
        rgba(78, 93, 120, 0.2) 0%,
        rgba(78, 93, 120, 0.2) 100%
    ),
    #fff;
$grayscale-color-w-40: linear-gradient(
        0deg,
        rgba(78, 93, 120, 0.4) 0%,
        rgba(78, 93, 120, 0.4) 100%
    ),
    #fff;
$grayscale-color-w-60: linear-gradient(
        0deg,
        rgba(78, 93, 120, 0.6) 0%,
        rgba(78, 93, 120, 0.6) 100%
    ),
    #fff;
$grayscale-color-w-80: linear-gradient(
        0deg,
        rgba(78, 93, 120, 0.8) 0%,
        rgba(78, 93, 120, 0.8) 100%
    ),
    #fff;
$grayscale-color-w-90: linear-gradient(
        0deg,
        rgba(78, 93, 120, 0.9) 0%,
        rgba(78, 93, 120, 0.9) 100%
    ),
    #fff;
$grayscale-color-w-95: linear-gradient(
        0deg,
        rgba(78, 93, 120, 0.95) 0%,
        rgba(78, 93, 120, 0.95) 100%
    ),
    #fff;
$grayscale-gray-color: linear-gradient(0deg, #4e5d78 0%, #4e5d78 100%), #fff;

// dark color
$dark-color-1: #191c21;
$dark-color-2: #212833;
