@use "../abstracts";

.auth {
    --header-height: 80px;

    position: relative;
    background-color: var(--auth-background-color);
    overflow: hidden;

    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: 9;

        opacity: 0.15;
        border-radius: 50%;
        background: var(--auth-background-filter-color);
        filter: blur(150px);
    }

    &::before {
        bottom: 50%;
        left: -15px;
        width: 170px;
        height: 170px;
    }

    &::after {
        bottom: -200px;
        right: 50%;
        width: 310px;
        height: 310px;
    }

    &__header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;

        height: var(--header-height);
        padding: 25px 30px;

        background: var(--auth-header-bg-color);
    }

    &__wrapper {
        @include abstracts.display-flex(center);
        flex-direction: column;
        min-height: 100vh;

        padding-top: var(--header-height);
        padding-bottom: var(--header-height);

        background: linear-gradient(
            180deg,
            var(--auth-body-bg-from-color) 0%,
            var(--auth-body-bg-to-color) 100%
        );
    }

    &__title {
        @extend %first-heading;

        color: var(--auth-title-color);
    }

    &__desc {
        @extend %display-m;

        margin-top: 10px;

        color: var(--auth-title-color);
    }

    &__content {
        z-index: 10;
        width: 580px;
        margin-top: 30px;
        padding: 40px;

        border-radius: 20px;
        background: var(--auth-form-bg-color);
        box-shadow: 3px -5px 35px 0px var(--auth-form-shadow-color);
    }

    &__actions {
        @include abstracts.display-flex(center);
        column-gap: 20px;
    }

    &__button {
        flex: 1;
        border-radius: 10px;
    }

    &__divider {
        margin: 30px 0;
    }

    &__form-group + &__form-group {
        margin-top: 20px;
    }

    &__form-wrapper {
        @include abstracts.display-flex(center, space-between);
        margin-top: 20px;
    }

    &__form-radio {
        @include abstracts.display-flex(center);

        height: 52px;
        width: 240px;
        padding: 0 18px;
        border-radius: 10px;
        border: 1px solid #4e5d7833;
    }

    &__form-radio-group + &__form-radio-group {
        margin-left: 20px;
    }

    &__form-icon {
        margin-right: 18px;
    }

    &__form-btn {
        width: 100%;
        margin-top: 30px;

        @extend %display-m;
        border-radius: 10px;
    }

    &__form-footer {
        @include abstracts.display-flex(center);
        margin-top: 30px;
    }

    &__form-text {
        @extend %display-m;
        color: #4e5d78;
    }

    &__form-link {
        @extend %display-m;
        margin-left: 18px;
        color: #377dff;
    }
}
