@use "../abstracts";

.body {
    @include abstracts.display-flex();
    min-height: calc(100vh - var(--header-height));
    padding-top: var(--header-height);

    main {
        flex: 1;
    }
}
