@use "../abstracts";

.body {
    display: flex;
    width: 100%;

    &__content {
        flex: 1;

        min-height: calc(100vh - 78px);
        padding: 30px;
        margin-right: 30px;

        border-radius: 10px 10px 0 0;
        background: var(--main-layout-content-bg-color);
    }
}
