@use "../abstracts";

html.dark {
    // Button - Button default
    --button-bg-color: #{abstracts.$grayscale-gray-color};
    --button-color: #{abstracts.$grayscale-color-w-10};

    // Button - Button primary

    // Button - Button secondary - Message

    // Input - Input sign up
    --input-border-color: #{abstracts.$grayscale-gray-color};
    --input-placeholder-color: #{abstracts.$grayscale-color-w-60};

}
