@use "../abstracts";

html.dark {
    // Icon
    --icon-filter-color: brightness(0) saturate(100%) invert(88%) sepia(56%)
        saturate(1476%) hue-rotate(180deg) brightness(114%) contrast(89%);

    // Button - Button default
    --button-bg-color: #{abstracts.$grayscale-gray-color};
    --button-color: #{abstracts.$grayscale-color-w-10};
    --button-border-color: #{abstracts.$grayscale-gray-color};

    // Input radio
    --input-radio-color-checked: #{abstracts.$grayscale-color-w-10};
    --input-radio-label-color: #{abstracts.$grayscale-color-w-10};

    // Input checkbox
    --input-checkbox-color: #{abstracts.$grayscale-color-w-10};

    // Calendar
    --calendar-bg-color: #{abstracts.$dark-color-2};
    --calendar-text-date-color: #{abstracts.$grayscale-color-w-10};
    --calendar-text-standard-color: #{abstracts.$grayscale-color-w-10};
    --calendar-text-outer-color: #{abstracts.$grayscale-gray-color};
    --calendar-divider-bg-color: #{abstracts.$dark-color-1};
    --calendar-dropdown-bg-color: #{abstracts.$dark-color-1};
    --calendar-scrollbar-track-bg-color: #{abstracts.$dark-color-2};
    --calendar-scrollbar-shadow-color: #{abstracts.$grayscale-gray-color};
    --calendar-scrollbar-thumb-bg-color: #{abstracts.$grayscale-gray-color};

    // Date picker
    --date-picker-bg-color: #{abstracts.$dark-color-2};
    --date-picker-border-color: #{abstracts.$grayscale-gray-color};
    --date-picker-date-text-color: #{abstracts.$grayscale-color-w-10};

    // Divider
    --divider-bg-color: #{abstracts.$grayscale-gray-color};
    --divider-text-color: #{abstracts.$grayscale-color-w-10};

    // Logo
    --logo-color: #{abstracts.$grayscale-color-w-10};

    // Auth layout
    --auth-header-bg-color: #{abstracts.$dark-color-1};
    --auth-body-bg-from-color: rgb(24, 28, 35);
    --auth-body-bg-to-color: rgb(25, 29, 34);
    --auth-title-color: #{abstracts.$grayscale-color-w-10};
    --auth-form-bg-color: #{abstracts.$dark-color-2};
    --auth-form-shadow-color: rgba(51, 62, 82, 0.1);
}
