@use "../abstracts";

html {
    // Body
    --body-bg-color: #{abstracts.$grayscale-white-color};

    // Icon
    --icon-filter-color: brightness(0) saturate(100%) invert(36%) sepia(14%)
        saturate(922%) hue-rotate(180deg) brightness(92%) contrast(90%);

    // Error message
    --error-msg-color: #{abstracts.$red-primary-color};

    // Button - Button default
    --button-bg-color: #{abstracts.$grayscale-color-w-5};
    --button-color: #{abstracts.$grayscale-gray-color};
    --button-border-color: #{abstracts.$grayscale-color-w-5};

    // Button - Button primary
    --button-bg-primary-color: #{abstracts.$blue-primary-color};
    --button-primary-color: #{abstracts.$grayscale-white-color};
    --button-border-primary-color: #{abstracts.$blue-primary-color};

    // Button - Button secondary - Message
    --button-bg-secondary-color: #{abstracts.$green-primary-color};
    --button-secondary-color: #{abstracts.$grayscale-white-color};
    --button-border-secondary-color: #{abstracts.$green-primary-color};

    // Button - Button outline
    --button-bg-outline-color: transparent;
    --button-outline-color: #{abstracts.$grayscale-color-w-60};
    --button-border-outline-color: #{abstracts.$grayscale-color-w-20};

    // Input radio
    --input-radio-color-checked: #{abstracts.$grayscale-gray-color};
    --input-radio-color: #{abstracts.$grayscale-color-w-60};
    --input-radio-label-color: #{abstracts.$grayscale-gray-color};
    --input-radio-label-color-checked: #{abstracts.$blue-primary-color};

    // Input checkbox
    --input-checkbox-color-checked: #{abstracts.$blue-primary-color};
    --input-checkbox-color: #{abstracts.$grayscale-gray-color};

    // Calendar
    --calendar-bg-color: #{abstracts.$grayscale-white-color};
    --calendar-drop-shadow-color: rgba(0, 0, 0, 0.04);
    --calendar-text-date-color: #{abstracts.$grayscale-gray-color};
    --calendar-text-standard-color: #{abstracts.$grayscale-gray-color};
    --calendar-text-today-color: #{abstracts.$green-primary-color};
    --calendar-text-highlighted-color: #{abstracts.$grayscale-white-color};
    --calendar-text-outer-color: #{abstracts.$grayscale-color-w-60};
    --calendar-bg-highlighted-color: #{abstracts.$blue-primary-color};
    --calendar-divider-bg-color: #{abstracts.$grayscale-color-w-20};
    --calendar-dropdown-bg-color: #{abstracts.$grayscale-white-color};
    --calendar-dropdown-shadow-color: rgba(0, 0, 0, 0.04);
    --calendar-month-year-item-text-color: #{abstracts.$grayscale-gray-color};
    --calendar-month-year-item-active-text-color: #{abstracts.$blue-primary-color};
    --calendar-month-year-item-active-bg-color: #{abstracts.$blue-primary-color-w-80};
    --calendar-scrollbar-track-bg-color: #{abstracts.$grayscale-white-color};
    --calendar-scrollbar-shadow-color: #eff3f4;
    --calendar-scrollbar-thumb-bg-color: #{abstracts.$grayscale-color-w-20};

    // Date picker
    --date-picker-bg-color: #{abstracts.$grayscale-white-color};
    --date-picker-border-color: #{abstracts.$grayscale-color-w-20};
    --date-picker-default-text-color: #{abstracts.$grayscale-color-w-60};
    --date-picker-date-text-color: #{abstracts.$grayscale-gray-color};
    --date-picker-cancel-btn-color: #{abstracts.$grayscale-color-w-60};

    // Divider
    --divider-bg-color: #{abstracts.$grayscale-color-w-20};
    --divider-text-color: #{abstracts.$grayscale-gray-color};

    // Logo
    --logo-color: #{abstracts.$grayscale-gray-color};

    // Auth layout
    --auth-header-bg-color: #{abstracts.$grayscale-white-color};
    --auth-body-bg-from-color: rgba(255, 255, 255, 0.4);
    --auth-body-bg-to-color: rgba(255, 255, 255, 0.1);
    --auth-title-color: #{abstracts.$grayscale-gray-color};
    --auth-form-bg-color: #{abstracts.$grayscale-white-color};
    --auth-form-shadow-color: rgba(205, 205, 212, 0.1);
    --auth-background-color: #{abstracts.$grayscale-white-color};
    --auth-background-filter-color: #{abstracts.$blue-primary-color};
    --auth-radio-wrapper-border-color: #{abstracts.$grayscale-color-w-20};
    --auth-footer-text-color: #{abstracts.$grayscale-gray-color};
    --auth-footer-link-color: #{abstracts.$blue-primary-color};

    // Input
    --input-border-color: #{abstracts.$grayscale-color-w-20};
    --input-placeholder-color: #{abstracts.$grayscale-color-w-60};
    --input-text-color: #{abstracts.$grayscale-gray-color};

    // Remember me checkbox
    --checkbox-text-color: #{abstracts.$grayscale-gray-color};

    // Header layout
    --header-layout-color: #{abstracts.$grayscale-gray-color};
    --header-layout-bg-color: #{abstracts.$grayscale-white-color};
    --header-layout-user-color: #{abstracts.$grayscale-white-color};
    --header-layout-shadow-color: rgba(0, 0, 0, 0.02);

    // Site bar layout
    --site-bar-layout-bg-color: #{abstracts.$grayscale-white-color};
    --site-bar-layout-item-bg-color: #{abstracts.$grayscale-white-color};
    --site-bar-layout-item-color: #{abstracts.$grayscale-gray-color};
    --site-bar-layout-item-active-bg-color: #{abstracts.$grayscale-gray-color};
    --site-bar-layout-item-active-color: #{abstracts.$grayscale-white-color};
    --site-bar-layout-item-active-icon-color: brightness(0) saturate(100%)
        invert(100%) sepia(0%) saturate(7481%) hue-rotate(320deg)
        brightness(99%) contrast(103%);
    --site-bar-layout-counter-color: #{abstracts.$grayscale-white-color};
    --site-bar-layout-counter-bg-color: #{abstracts.$red-primary-color};

    // Main layout
    --main-layout-bg-color: #{abstracts.$grayscale-white-color};
    --main-layout-content-bg-color: #{abstracts.$grayscale-color-w-3};

    // Page not found
    --not-found-bg-color: #f7f7f7 linear-gradient(to bottom, #ffffff, #efefef);
    --not-found-circle-bg-color: #ccc;
    --not-found-text-primary-color: #333;
    --not-found-text-secondary-color: #777;
    --not-found-text-shadow-color: #ddd;
    --not-found-box-shadow-primary-color: #eee;
    --not-found-box-shadow-secondary-color: #ccc;
    --not-found-gradient-color: linear-gradient(to right, #fff, #eee 30%, #ddd);

    // Loading
    --loading-bg-color: #{abstracts.$blue-primary-color};
    --loading-color: #{abstracts.$grayscale-white-color};
    --loading-color-2: #{abstracts.$grayscale-color-w-40};

    // Loader
    --loader-border-color: #{abstracts.$blue-primary-color};
}
