@use "../abstracts";

html {
    // Button - Button default
    --button-bg-color: #{abstracts.$grayscale-color-w-5};
    --button-color: #{abstracts.$grayscale-gray-color};
    --button-border-color: #{abstracts.$grayscale-color-w-5};

    // Button - Button primary
    --button-bg-primary-color: #{abstracts.$blue-primary-color};
    --button-primary-color: #{abstracts.$grayscale-white-color};
    --button-border-primary-color: #{abstracts.$blue-primary-color};

    // Button - Button secondary - Message
    --button-bg-secondary-color: #{abstracts.$green-primary-color};
    --button-secondary-color: #{abstracts.$grayscale-white-color};
    --button-border-secondary-color: #{abstracts.$green-primary-color};

    // Button - Button outline
    --button-bg-outline-color: transparent;
    --button-outline-color: #{abstracts.$grayscale-color-w-20};
    --button-border-outline-color: #{abstracts.$grayscale-color-w-20};

    // Button icon
    --button-icon-color: brightness(0) saturate(100%) invert(36%) sepia(8%)
        saturate(1944%) hue-rotate(180deg) brightness(88%) contrast(79%);

    // Input - Input sign up
    --input-border-color: #{abstracts.$grayscale-color-w-20};
    --input-placeholder-color: #{abstracts.$grayscale-color-w-60};
    --input-icon-color: brightness(0) saturate(100%) invert(36%) sepia(6%)
        saturate(2435%) hue-rotate(180deg) brightness(92%) contrast(85%);
}
