@use "../abstracts";

html {
    // Icon
    --icon-filter-color: brightness(0) saturate(100%) invert(36%)
        sepia(14%) saturate(922%) hue-rotate(180deg) brightness(92%)
        contrast(90%);

    // Button - Button default
    --button-bg-color: #{abstracts.$grayscale-color-w-5};
    --button-color: #{abstracts.$grayscale-gray-color};
    --button-border-color: #{abstracts.$grayscale-color-w-5};

    // Button - Button primary
    --button-bg-primary-color: #{abstracts.$blue-primary-color};
    --button-primary-color: #{abstracts.$grayscale-white-color};
    --button-border-primary-color: #{abstracts.$blue-primary-color};

    // Button - Button secondary - Message
    --button-bg-secondary-color: #{abstracts.$green-primary-color};
    --button-secondary-color: #{abstracts.$grayscale-white-color};
    --button-border-secondary-color: #{abstracts.$green-primary-color};

    // Button - Button outline
    --button-bg-outline-color: transparent;
    --button-outline-color: #{abstracts.$grayscale-color-w-20};
    --button-border-outline-color: #{abstracts.$grayscale-color-w-20};

    // Button icon
    --button-icon-color: brightness(0) saturate(100%) invert(36%) sepia(8%)
        saturate(1944%) hue-rotate(180deg) brightness(88%) contrast(79%);

    // Calendar
    --calendar-bg-color: #{abstracts.$grayscale-white-color};
    --calendar-drop-shadow-color: rgba(0, 0, 0, 0.04);
    --calendar-text-standard-color: #{abstracts.$grayscale-gray-color};
    --calendar-text-today-color: #{abstracts.$green-primary-color};
    --calendar-text-highlighted-color: #{abstracts.$grayscale-white-color};
    --calendar-text-outer-color: #{abstracts.$grayscale-color-w-60};
    --calendar-bg-highlighted-color: #{abstracts.$blue-primary-color};
    --calendar-divider-bg-color: #{abstracts.$grayscale-color-w-20};

    // Date picker
    --date-picker-bg-color: #{abstracts.$grayscale-white-color};
    --date-picker-border-color: #{abstracts.$grayscale-color-w-20};
    --date-picker-default-text-color: #{abstracts.$grayscale-color-w-60};
    --date-picker-date-text-color: #{abstracts.$grayscale-gray-color};

    // Divider
    --divider-bg-color: #{abstracts.$grayscale-color-w-20};
    --divider-text-color: #{abstracts.$grayscale-gray-color};
}
